h1 {
    background: green;
    text-align: center;
    font-size: 25px;
}
#instructions{
    font-size: 20px;
}
#score {
    background-color:lightslategray;
}
.row {
    font-size: 30px;
}
#record {
background-color: green;
}
